@model R2DEV2.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div id="adminPanel" class="container-fluid">
    @if (User.IsInRole("Teacher"))
    {
        <div class="container">
            <ul class="nav nav-tabs">
                <li>@Html.ActionLink("Hem", "Index", "Course")</li>
                <li>@Html.ActionLink("Ny Kurs", "Create", "Course")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Lägg till<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Ny Lärare", "RegisterTeacher", "Account")</li>
                    </ul>
                </li>
                <li class="disabled"><a>Sök</a></li>
            </ul>
        </div>
    }
</div>

<div class="container" id="content">
    <h2>Kontoinställningar</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>Lösenord:</dt>
            <dd>
                [
                @if (Model.HasPassword)
            {
                    @Html.ActionLink("Byt lösenord", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Lägg till lösenord", "SetPassword")
                }
                ]
            </dd>
        </dl>
        <div>
            <i class="glyphicon glyphicon-circle-arrow-left" style="color:cornflowerblue"></i>@Html.ActionLink(" Tillbaka", "Index", "Course")
        </div>
    </div>
</div>