@model R2DEV2.Models.Classes.ActivityClass

@{
    ViewBag.Title = "Details";
}

<h2>Aktivitetsinformation</h2>

<div>
    <h4>ActivityClass</h4>

    @Html.ActionLink("Redigera", "Edit", "Activity", new { id = Model.Id }, null)<i class="glyphicon glyphicon-pencil" style="color:forestgreen"></i>
    <span>|</span>
    @Html.ActionLink("Ta Bort", "Delete", "Activity", new { id = Model.Id }, null)<i class="glyphicon glyphicon-remove" style="color:darkred"></i>

    <hr />
    <dl class="dl-horizontal">

       
        <dt>
            @Html.DisplayNameFor(model => model.Module.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>
</div>





<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Details","Course", new { id = Model.Module.CourseClassId}, null)
    @*@Html.ActionLink("Back to List", null, null, null, new { href = Request.UrlReferrer })*@
</p>
