@model IEnumerable<R2DEV2.Models.Course>
@*@model IEnumerable<R2DEV2.Models.Module>*@

@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<p>
    @Html.ActionLink("Create Course", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            @foreach (var blub in Model.Module)
            {
                <dd>@courses.ModuleName</dd>
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })|
                @Html.ActionLink("Create Module", "Create", "Modules", new { courseId=1 }, null)
            </td>
        </tr>
    }

</table>

@*<table class="table">
    <tr>
        @foreach (var item in Model.ToList<Module>)
            {
            <td>@item.Modules</td>
        }
    </tr>
</table>*@