@model R2DEV2.Models.Classes.CourseClass

@{
    ViewBag.Title = "Kurs";
}

<style>
    h2, h4 {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    h5 {
        font-weight: bold;
        margin-top:0px;
        margin-bottom: 4px;
    }

    hr {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .panel-title {
        font-weight: bolder;
        font-size: 16px;
    }

    .panel-default > .panel-heading {
        background-color: #e7e7e7;
    }

    #btnAddStudent {
        font-size: 18px;
    }

    #btnAddStudent:hover{
        text-decoration: none;
        color: forestgreen;
    }
</style>


@*@Html.ActionLink( " ", "Delete", "Grocery", new { GroceryUsageID = item.GroceryUsageID, GroceryId = item.GroceryID }, new { @onclick = "return confirm('Are you sure you want to delete this Grocery');",  @class = "glyphicon glyphicon-trash" })*@


<div class="container-fluid">
    <div class="col-md-9">
        <h2 style="display: inline-block;">
            @Html.DisplayFor(model => model.Name)
        </h2>
        <h2 class="hidden-xs" style="float:right; display: inline-block;">
            <small style="text-align:right;">
                @Html.DisplayFor(model => model.StartTime) till
                @Html.DisplayFor(model => model.EndTime)
            </small>
        </h2>
    </div>
    <div class="col-md-9">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">

                @foreach (var modules in Model.Modules)
                {
                    <div class="panel-heading">
                        <h4 class="panel-title" style="display:inline">
                            <a data-toggle="collapse" data-parent="#accordion" href="#@modules.Id">
                                @modules.Id<span>. </span>
                                @modules.Name
                            </a>
                        </h4>
                            @if (User.IsInRole("Teacher"))
                            {
                                <h4 class="panel-title" style="display: inline; float: right;">
                                    <small>
                                        @Html.ActionLink("Redigera", "Edit", "Module", new { id = modules.Id }, null) <i class="glyphicon glyphicon-pencil" style="color:forestgreen"></i>
                                        &nbsp;
                                        @Html.ActionLink("Ta bort", "Delete", "Module", new { id = modules.Id, @onclick = "return confirm('Är du säker att du vill ta bort kursen?');" }, null) <i class="glyphicon glyphicon-remove" style="color:darkred"></i>
                                    </small>
                                </h4>
                            }
                    </div>

                    <div id="@modules.Id" class="panel-collapse collapse collapse">
                        <div class="panel-body">
                            <h5>Information: </h5>
                            @modules.Description
                            <hr class="container-fluid" />
                            <h5 style="display: inline;">Aktiviteter: </h5>
                            @if (User.IsInRole("Teacher"))
                            {
                                <h4 class="panel-title" style="display: inline; float: right;">
                                    <small>
                                        @Html.ActionLink("Ny aktivitet", "Create", "Activity", new { id = modules.Id }, null)
                                        <i class="glyphicon glyphicon-plus" style="color:forestgreen"></i>
                                    </small>
                                </h4>
                            }
                            <br />
                            @foreach(var activities in modules.Activities )
                            {
                                @Html.ActionLink(@activities.Name, "Details", "Activity", new { id = activities.Id }, null)
                                <br />
                            }
                        </div>
                    </div>
                }

                @if (User.IsInRole("Teacher"))
                {
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#NyModul">
                                <i class="glyphicon glyphicon-plus-sign" style="color:forestgreen"></i>
                                @Html.ActionLink("Skapa ny modul", "Create", "Module", new { id = Model.Id }, null)
                            </a>
                        </h4>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title" style="display:inline">
                    Deltagare:
                </h4>
                @if (User.IsInRole("Teacher"))
                {
                    <h4 class="panel-title" style="display: inline; float: right;">
                        <a id="btnAddStudent" class="glyphicon glyphicon-plus-sign" href="@Url.Action("Register", "Account", new { id = Model.Id })" ></a>
                     </h4>
                }
            </div>
            <div class="panel-body">
                @foreach (var attendingStudent in Model.AttendingStudents)
                {
                    @attendingStudent.FullName
                    <br />
                }
            </div>
        </div>
    </div>

    <div class="col-md-9">
        @if (User.IsInRole("Teacher"))
        {
            <i class="glyphicon glyphicon-circle-arrow-left" style="color:cornflowerblue"></i>@Html.ActionLink(" Tillbaka", "Index")
            @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) <span>|</span>
            @Html.ActionLink("Ta bort", "Delete", new { id = Model.Id }, new { @onclick = "return confirm('Är du säker att du vill ta bort kursen?');"}) <span>|</span>
        }
    </div>
</div>

